


<h2>提交订单</h2>
<table>
    <tr>
        <th>
            作者
        </th>
        <th>
            书名
        </th>
        <th>
            价格
        </th>
        <th>

        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @ViewBag.AuthorName
        </td>
        <td>
            @ViewBag.Title
        </td>
        <td>
            @ViewBag.Price
        </td>
        <td>
            <img alt="封面" src="../../Images/@ViewBag.BookCoverUrl" />
        </td>
    </tr>
</table>
<form method="post" action="/Store/Order">
    @Html.Label("BookId","书籍编号")
    @Html.TextBox("BookId",ViewData["BookId"])
    <br/>
    @Html.Label("Num", "数量")
    @Html.TextBox("Num")
    <br />
    @Html.Label("Address", "地址")
    @Html.TextBox("Address")
    <br />
    <input type="submit" value="提交" />
</form>

